@CHARSET "UTF-8";

div#portal #banner {
	height: auto;
	max-width: 50%;
	min-width: 600px;
}

#content {
	max-width: 50%;
	min-width: 600px;
}
.buttons_footer {
	margin-left:auto;
	margin-right:auto;
}
.buttons_footer button{
	margin: 10px;
	padding: 10px;
	font-size: 12pt;
	font-weight: bold;
}
.preview_watermark {
	font-size: 40pt;
	font-weight: bold;
	color: red;
	position: fixed;
	top: 100px;
	right: 20px;
	z-index: 1000;
	opacity: 0.20;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
}
h1.page_title {
	font-size: 14pt;
	font-weight: bold;
}
div.wizContainer {
	background-color: #EEEEEE;
}
h3.mandatory {
	border: 0;
}
h3.question_title {
	font-size: 12pt;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
div.question {
	padding: 5px;
}
.page_content {
	text-align: left;	
}
.page_intro {
	padding: 5px;
}
.mandatory_asterisk {
	color: red;
}
.wizContainer table.radio_buttons {
	table-layout: fixed;
}
.wizContainer table.radio_buttons td{
	width: 120px;
}